<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Fighters Guide</title>
</head>
<body>
    
    <h1 id="title">Fighters Guide to Eorzea</h1>

    <nav>
     <a href="/guides/new">New Guide</a>
     <a href= "/auth/google"> Login with Google</a>
    </nav>


    <table id="list">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% guides.forEach(function(g) { %>
            <tr>
              <td><%= g.title %></td>
              <td><a href="/guides/<%= g._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>

</body>
</html>